html {
    background-color: rgb(19, 16, 16);
}


/* canvas {
    border: solid;
    border-image:
        url("textures/border.png")
        /* source */
27 /
/* slice */
20px 20px 20px 20px /
/* width */
18px 18px 18px 18px
/* outset */
round;
/* repeat */
}

*/